/* VideoPlayer section */
.InteractiveVideoPlayer .VideoPlayerSection {
    margin: 30px 0px 20px 0px !important;
    @media (max-width: 1199px) {
        margin: 0px 0px 20px 0px !important;
    }
}

.InteractiveVideoPlayer .VideoPlayerSection .VideoPlayer {
    margin: 0px 0px 20px 0px !important;
    padding: 0px 20px 0px 0px !important;
    @media (max-width: 1199px) {
        padding: 0px 0px 0px 0px !important;
    }
}
/* End of VideoPlayer section */

/* Thumbnails section */
.InteractiveVideoPlayer .Thumbnails {
    margin: 30px 0px 0px 0px !important;
}

.InteractiveVideoPlayer .Thumbnails .Thumbnail {
    margin-bottom: 10px;
}
/* End of Thumbnails section */
