.NavBar {
    position: sticky !important;
    top: 0 !important;
    z-index: 2;
}

.Logo {
    margin: 15px 50px 15px 0px;
    height: auto;
    width: auto;
    max-width: 150px;
}

.SmallLogo img {
    padding-right: 0 !important;
    margin: 15px 0px 0px 0px;
    height: auto;
    width: auto;
    max-width: 120px;
}

.MuiLink-underlineNone:active {
    color: #fefefe;
}

.MuiLink-underlineNone:hover {
    color: var(--main-color);
}

.MuiAppBar-root {
    padding-right: 0 !important;
}
